*{
    padding: 0px;
    margin: 0px;
}

#container{
    width: 100vw;
    height: 45rem;
}

#navigationmenu{
    width: 16rem;
    height: 100vh;
    background-color: #414B4F;
    position: fixed;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    z-index: 3;
    box-shadow: 12px 0px 30px black;
}

#icon {
    width: 2.6rem;
    height: 2.6rem;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 3px;
}

#icon img {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 45px;
    background-color: white;
}

#navbar{
    padding-left: 34px;
    padding-top: 34px;
    padding-right: 15px;
    margin-top: 12vh;
}

#nav{
    list-style: none;
}

.menulist{
    margin: 8vh 0px;
}

#nav li a{
    text-decoration: double;
    color: white;
    font-family: 'Tapestry', cursive;
    
}

.fixblock{
    display: flex;
    height: 30px;
    align-items: center;
    padding: 4px;
    border-radius: 17px;
}

.fixblock:hover{
    background-color: white;
}

.active{
    background-color: white;
    color: black;
}

.active i{
    color: black;
}

.newicon{
    color: white;
    margin-left: auto;
}
  
.menulist:hover p,
.menulist:hover i{
    color: black;
}


/* '~' is used to do change in particular class when the given event has occured*/
/* In this below line when the cursor hover over the given list items it changes the display-type of active */
